<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon"
	  href="{{ url_for('static',filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css"
	  href="{{ url_for('static',filename='styles.css') }}">
    <title>Clash Form</title>
    <style>
    </style>
    <script type="text/javascript"> // <![CDATA[
      function loading(){
        document.getElementById("error").style.display = "none";
        document.getElementById("loading").style.display = "block";
      }
      function changeExtension(){
        if (document.getElementById("csv").checked){
          document.getElementById("extension").innerHTML = ".csv";
	}
	else {
	  document.getElementById("extension").innerHTML = ".xls";
	}
      }     
      // ]]>
    </script> 
 </head>
  <body>
    <div>
      <div id="loading">
	  Your results should begin downloading soon!
      </div>
      {% if error %}
      <div id="error">
	<p class="error">
	  <strong>Error:</strong> {{ error }}
	  {% if errorstep != 1 %}
	    <a href={{ url_for('index') }}>
	      Click here</a> 
	      to restore all default settings.	  
	  {% endif %}
	</p>
      </div>
      {% endif %}
      <div class="form">
	<form action="{{ url_for('submit') }}" method="POST"
	      enctype="multipart/form-data">
	  <fieldset>
	    <legend> <b>Step One:</b> Upload Clash File </legend>
	    <label for="uploadfile"> File name: </label>
	    <input type="file" name="uploadfile" id="uploadfile">
	  </fieldset>
	  <fieldset>
	    <legend> <b>Step Two:</b> Set Path Configuration </legend>
	    <label for="configuration"> Use Defaults (<em>type any edits</em>):
	    </label>
	    <br>
	    <br>
	    <textarea name="defaultconf" rows={{ rows }} cols={{ cols }}
		      >{{ conf }}
	    </textarea>
	    <br>
	    <br>
	    <div class=line>
	      <span class=spantext> Or </span>
	    </div>
	    <br>
	    <br>
	    <label> Upload config file (<em>optional</em>): </label>
	    <input type="file" name="configfile" id="configfile"><br><br>
	  </fieldset>
	  <fieldset>
	    <legend> <b>Step Three:</b> Choose Additional Settings </legend>
	    <label> Set Box Size (<em>in feet</em>): </label>
	    <input size="5" type="text" name="boxsize" id="boxsize"
		   value={{ boxsize }}>
	    <br>
	    <br>
	    <input type="checkbox" name="join" value="Yes"
		   {{ "checked" if joinOnAttr else "" }}> 
	    <label> Join Clash Groups with matching Entity Handles or
	      Element IDs (<em>optional</em>)
	    </label>
	    <br>
	    <br>
	    <label> Select output format: </label>
	    <br>
	    <input type="radio" name="output" id="csv" value="csv"
		   onchange="changeExtension();"
		   {{ "checked" if not toXLS else "" }} >
	    Comma Separated (CSV)
	    <br>
	    <input type="radio" name="output" id="xls" value="xls"
		   onchange="changeExtension();"
		   {{ "checked" if toXLS else "" }}>
	    Excel Spreadsheet (XLS)
	    <br>
	    <br>
	    Output filename:
	    <input size="40" type="text" name="outfilename" id="outfilename"
	    value="{{ outfilename }}">
	    <p id="extension"> {{ ".csv" if not toXLS else ".xls" }} </p>
	  </fieldset>
	  <fieldset>
	    <legend> <b>Step Four:</b> Submit for results </legend>
	    <input type="submit" value="Get Clash Results"
		   onClick="loading();">
	  </fieldset>
	</form>
      </div>
    </div>
  </body>
</html>
